{% include "baseadmin.html" %}
{% load static %}
{% block content %}
<style>
    body {
        font-family: Arial, sans-serif;
        background: rgb(121,76,65);
        background: linear-gradient(91deg, rgba(121,76,65,1) 38%, rgba(133,87,75,1) 61%, rgba(82,52,43,1) 100%);
        color: #c4aeae;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    :root {
        --primary-color: #c4ae93; 
        --secondary-color: #8d6748; 
        --accent-color: #4d2701; 
        --text-color: #d1c1c1; 
        --button-color: #de805b; 
        --button-hover-color: #411402; 
        --link-color: #490805;
        --link-hover-color: #350807; 
        --input-border-color: #412a07; 
        --form-background: #f1efea; 
        --form-border-color: #ddd; 
    }

    h1 {
        text-align: center;
        color: var(--primary-color);
        margin-bottom: 20px;
    }

    form {
        background-color: var(--form-background);
        border: 1px solid var(--form-border-color);
        border-radius: 8px;
        padding: 30px;
        max-width: 500px;
        margin: 0 auto;
    }

    form input[type="text"],
    form input[type="email"],
    form input[type="password"],
    form input[type="file"],
    form select,
    form textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid var(--input-border-color);
        border-radius: 4px;
        margin-bottom: 15px;
        box-sizing: border-box; 
    }

    form label {
        font-weight: bold;
        display: block;
        margin-bottom: 5px;
        color: var(--primary-color);
    }

    form button {
        background-color: var(--button-color);
        border: none;
        border-radius: 4px;
        color: var(--text-color);
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        display: block;
        margin: 0 auto;
    }

    form button:hover {
        background-color: var(--button-hover-color);
    }

    a {
        display: inline-block;
        margin-top: 20px;
        color: var(--link-color);
        text-decoration: none;
        font-weight: bold;
    }

    a:hover {
        color: var(--link-hover-color);
        text-decoration: underline;
    }
</style>

<h1>Nuevo/Editar Anuncio</h1>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Guardar</button>
</form>
<a href="{% url 'lista_anuncios' %}">Cancelar</a>
{% endblock content %}
